:root {
  --checkoffImage: url(../images/ico_check_off.svg);
  --checkonImage: url(../images/ico_check_on.svg);
  --fontSize: 15px;
  --beforeColor: red;
  --afterColor: blue;
  --checkpl: 20px;
  --checkHeight: 24px;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  + label {
    display: inline-flex;
    padding-left: var(--checkpl);
    background: var(--checkoffImage) no-repeat left;
    font-size: var(--fontSize);
    color: var(--beforeColor);
    height: var(--checkHeight);
  }
  &:checked {
    + label {
      color: var(--afterColor);
      background: var(--checkonImage) no-repeat left;
    }
  }
}
