:root {
  --checkboxoffImage: url(../images/ico_more.svg);
  --checkboxonImage: url(../images/ico_play.svg);
  --checkboxfontSize: 15px;
  --checkboxbeforeColor: red;
  --checkboxafterColor: blue;
  --checkpl: 20px;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  + label {
    padding-left: var(--checkpl);
    background: var(--checkboxoffImage) no-repeat left;
    font-size: var(--checkboxfontSize);
    color: var(--checkboxbeforeColor);
  }
  &:checked {
    + label {
      color: var(--checkboxafterColor);
      background: var(--checkboxonImage) no-repeat left;
    }
  }
}
