.chip {
  --borderOnColor: var(--Gray-Gray-50, #1d1d1d);
  --borderOffColor: var(--Gray-Gray-20, #d8d8d8);
  --fontOnColor: #fff;
  --fontOffColor: var(--Gray-Gray-50, #1d1d1d);
  --bgOnColor: var(--Gray-Gray-50, #1d1d1d);
  --bgOffColor: #fff;
  --px: 12px;
  --py: 6px;
  --fontSize: 12px;
  --rounded: 24px;
  --gap: 2px;

  display: flex;
  align-items: center;

  gap: var(--gap);

  input {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    &:checked {
      + label {
        border-color: var(--borderOnColor);
        background-color: var(--bgOnColor);
        color: var(--fontOnColor);
      }
    }
  }
  label {
    padding: var(--py) var(--px);
    border: 1px solid var(--borderOffColor);
    background-color: var(--bgOffCol or);
    border-radius: var(--rounded);
    font-size: var(--fontSize);
    color: var(--fontOffColor);
  }
}

.chip-icon {
  --borderOnColor: var(--Gray-Gray-50, #1d1d1d);
  --borderOffColor: var(--Gray-Gray-20, #d8d8d8);
  --fontOnColor: #fff;
  --fontOffColor: var(--Gray-Gray-50, #1d1d1d);
  --bgOnColor: var(--Gray-Gray-50, #1d1d1d);
  --bgOffColor: #fff;
  --px: 12px;
  --py: 6px;
  --fontSize: 12px;
  --rounded: 24px;
  --gap: 2px;

  --iconGap: 2px;
  --iconSize: 16px;
  --iconBgOffImg: url(../images/icon_chip_selection_off.svg);
  --iconBgOnImg: url(../images/icon_chip_selection_on.svg);

  display: flex;
  align-items: center;
  gap: var(--gap);

  input {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    &:checked {
      + label {
        border-color: var(--borderOnColor);
        background-color: var(--bgOnColor);
        color: var(--fontOnColor);
      }
    }
  }
  label {
    display: inline-flex;
    gap: var(--iconGap);
    align-items: center;
    padding: var(--py) var(--px);
    border: 1px solid var(--borderOffColor);
    background-color: var(--bgOffColor);
    border-radius: var(--rounded);
    font-size: var(--fontSize);
    color: var(--fontOffColor);
  }
  &.left {
    label {
      &::before {
        content: "";
        width: var(--iconSize);
        aspect-ratio: 1;
        background: var(--iconBgOffImg) no-repeat center / contain;
      }
    }
    input:checked + label::before {
      background: var(--iconBgOnImg) no-repeat center / contain;
    }
  }
  &.right {
    label {
      &::after {
        content: "";
        width: var(--iconSize);
        aspect-ratio: 1;
        background: var(--iconBgOffImg) no-repeat center / contain;
      }
    }
    input:checked + label::after {
      background: var(--iconBgOnImg) no-repeat center / contain;
    }
  }
}

.chip-icon {
  --borderOnColor: var(--Gray-Gray-50, #1d1d1d);
  --borderOffColor: var(--Gray-Gray-20, #d8d8d8);
  --fontOnColor: #fff;
  --fontOffColor: var(--Gray-Gray-50, #1d1d1d);
  --bgOnColor: var(--Gray-Gray-50, #1d1d1d);
  --bgOffColor: #fff;
  --px: 12px;
  --py: 6px;
  --fontSize: 12px;
  --rounded: 24px;
  --gap: 2px;

  --iconGap: 2px;
  --iconSize: 16px;
  --iconBgOffImg: url(../images/icon_chip_selection_off.svg);
  --iconBgOnImg: url(../images/icon_chip_selection_on.svg);

  display: flex;
  align-items: center;
  gap: var(--gap);

  input {
    overflow: hidden;
    position: absolute;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    &:checked {
      + label {
        border-color: var(--borderOnColor);
        background-color: var(--bgOnColor);
        color: var(--fontOnColor);
      }
    }
  }
  label {
    display: inline-flex;
    gap: var(--iconGap);
    align-items: center;
    padding: var(--py) var(--px);
    border: 1px solid var(--borderOffColor);
    background-color: var(--bgOffColor);
    border-radius: var(--rounded);
    font-size: var(--fontSize);
    color: var(--fontOffColor);
  }
  &.left {
    label {
      &::before {
        content: "";
        width: var(--iconSize);
        aspect-ratio: 1;
        background: var(--iconBgOffImg) no-repeat center / contain;
      }
    }
    input:checked + label::before {
      background: var(--iconBgOnImg) no-repeat center / contain;
    }
  }
  &.right {
    label {
      &::after {
        content: "";
        width: var(--iconSize);
        aspect-ratio: 1;
        background: var(--iconBgOffImg) no-repeat center / contain;
      }
    }
    input:checked + label::after {
      background: var(--iconBgOnImg) no-repeat center / contain;
    }
  }
}
