.product-field-group {
  display: grid;
  gap: 12px;
  .text-group {
    display: grid;
    gap: 4px;
  }
  .price {
    display: flex;
    gap: 4px;
  }
  img {
    width: 100%;
  }
}
.primary-orange-100 {
  color: var(--primary-orange-100) !important;
}
.product-field-group-02 {
  display: grid;
  gap: 12px;
  .text-group-02 {
    display: grid;
    gap: 4px;
  }
  .price-02 {
    display: flex;
    gap: 4px;
  }
  img {
    width: 100%;
  }
}

.product-scroll {
  display: flex;
  gap: 10px;
  overflow: auto;
}
.product-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
}
