.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 17px 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  gap: 8px;
  color: var(--Gray-Gray-40, #555);
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray-20, #d8d8d8);
  background: var(--Gray-White, #fff);
  &::placeholder {
    color: var(--Gray-Gray-30, #9e9e9e);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
  }
}

.input:hover {
  border: 1px solid var(--Gray-Black, #000);
  background: var(--Gray-White, #fff);
}

.input.error {
  display: flex;
  height: 50px;
  padding: 17px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Primary-Pink-100, #ff455c);
  background: var(--Gray-White, #fff);
  color: var(--Primary-Pink-100, #ff455c) !important;
  &::placeholder {
    color: var(--Primary-Pink-100, #ff455c) !important;
  }
}
