.menubar_01 {
  display: flex;
  gap: 22px;
  text-align: center;
  overflow: auto;
  img {
    justify-self: center;
  }
}

.btn_01 {
  display: grid;
  gap: 10px;
  text-align: center;
}
.btn_02 {
  display: grid;
  gap: 10px;
}
.btn_03 {
  display: grid;
  gap: 10px;
}
.btn_04 {
  display: grid;
  gap: 10px;
}
.btn_05 {
  display: grid;
  gap: 10px;
}
