:root {
  --radiooffImage: url(../images/icon_radio_off.svg);
  --radioonImage: url(../images/icon_radio_on.svg);
  --radiofontSize: 16px;
  --radiobeforeColor: var(--gray-black);
  --radioafterColor: var(--gray-black);
  --radioPl: 32px;
  --radioHeight: 24px;
}
.radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  + label {
    display: inline flex;
    padding-left: var(--radioPl);
    background: var(--radiooffImage) no-repeat left;
    font-size: var(--radiofontSize);
    color: var(--radiobeforeColor);
    height: var(--radioHeight);
  }
  &:checked {
    + label {
      color: var(--radioafterColor);
      background: var(--radioonImage) no-repeat left;
    }
  }
}
