.recommended {
  display: flex;
  width: 100%
  padding: 8px 16px;
  background: var(--White, #fff);
  justify-content: space-between;
  align-items: center;
  .all-views {
    display: flex;
    background: var(--White, #fff);
    align-items: center;
  }
}
