.select {
  display: flex;
  height: 52px;
  padding: 0px 20px;
  border-radius: 12px;
  border: 1px solid #111;
  background: url(../images/icon_select.svg) no-repeat right 20px center var(--White, #fff);
  padding-right: 48px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
  color: var(--Font-02_black, #111);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.4px;
  text-overflow: ellipsis;
  appearance: none;
  &::before{content: 'ddd';}
  &::backdrop{}
  &::가상요소{}
  &:가상선택자{}
  &:hover
  &:active
  &:focus
}
