.stepper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  padding: 16px;
  align-items: flex-start;
  gap: 12px;
  img {
    justify-self: stretch;
    height: 3px;
    object-fit: cover;
  }
}
