.gallery {
  display: grid;
  width: 175px;
  padding: 10px;
  border-radius: 16px;
  background: #fff;
  gap: 4px;
  .thumbnail {
    width: 100%;
    height: 170px;
    border-radius: 16px;
  }
  .price-info {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    align-items: center;
    gap: 4px;
  }
}

.profile {
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  .text-sm {
    white-space: nowrap; /*줄바꿈 절대 안됨*/
    height: 40px;
    text-align: center;
  }
  .btn-primary {
    justify-self: end;
  }
}

.gallery2 {
  display: grid;
  border-radius: 16px;
  width: 122px;
  gap: 4px;
  .thumbnail2 {
    width: 94x;
    height: 100px;
    border-radius: 16px;
  }
  .price-info2 {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    align-items: center;
    gap: 4px;
  }
}
