.gallery {
  width: 175px;
  padding: 10px;
  border-radius: 16px;
  background: #fff;
  display: grid;
  gap: 4px;
}
.thumbnail {
  width: 100%;
  height: 170px;
  border-radius: 16px;
}
.cathegory {
  align-self: stretch;
}
.title {
  flex: 1 0 0;
}

.price-info {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  align-items: center;
  gap: 4px;
}
.discount {
}
.price {
  justify-self: end;
}
